{%- set command_ip_map = {} -%}
    {%- set file_name = 'DB_%s_%s.tar.gz'| format (db_configs.backup.run_id,TID) -%}
    {%- if db_configs.backup.file_mapping is defined -%}
        {%- if db_configs.backup.file_mapping[TID] is defined -%}
            {%- set file_name = db_configs.backup.file_mapping[TID] -%}
        {%- endif -%}
    {%- endif -%}
{%- set dummy = command_ip_map.update({'db_file_name': file_name}) -%}
{%- set dummy = command_ip_map.update({'primary_ftp_server': db_configs.backup.primary_ftp_server.ipaddress}) -%}
{%- set dummy = command_ip_map.update({'primary_path': db_configs.backup.primary_path}) -%}

    {%- if db_configs.backup.simultaneous is defined -%}
        {%- if db_configs.backup.simultaneous == true -%}
            {%- set dummy = command_ip_map.update({'secondary_ftp_server': db_configs.backup.secondary_ftp_server.ipaddress}) -%}
            {%- set dummy = command_ip_map.update({'secondary_path': db_configs.backup.secondary_path}) -%}
        {%- endif -%}
    {%- endif -%}
{%- set dummy = command_ip_map.update({'status': 'SUCCESS'}) -%}
{{- command_ip_map -}}