{# Template returns true if existing gRPC setting is enabled #}
{%- set existing_grpc_setting = rtrv_sys_info_res["RETRIEVE SYS"].result["Component-0"].Parameters.GRPC -%}
{%- if existing_grpc_setting == "Enable" -%}
    {{- true -}}
{%- else -%}
    {{- false -}}
{%- endif -%}