{%- set command_ip_map = {} -%}
{%- for aid in oprmode_configs.node_to_aid_mapping[TID] -%}
    {%- set cmd = "ED-EQPT:%s:%s:%s::%s::IS;" | format(TID, aid, loop.index, oprmode_configs.eqpt) -%}
    {%- set dummy = command_ip_map.update({cmd: {"primary_state": "IS"}}) -%}
{%- endfor -%}
{{- command_ip_map -}}