{%- set command_ip_map = {} -%}
{%- set ec = enable_lc_configs -%}
{%- for aid in is_xcon_not_present_list -%}
    {# 1-A-1-7 to 1-A-1-7T-1 #}
    {%- set c_aid = aid[:-1] + 'T' + aid[-1] + '-1' -%}
    {%- set cmd = "dlt-crs::%s-ODU2e#1,%s-ODU2e#2:c;" | format(c_aid,c_aid) -%}
    {%- set dummy = command_ip_map.update({cmd: {"facility" : "ODU4" }}) -%}
{%- endfor -%}
{{- command_ip_map -}}