{%- set command_ip_map = {} -%}
{%- if sw_configs.download.ftp_server.protocol == "sftp" -%}
{%- set cmd = 'SET-ATTR-SECUDFLT:::ctag:::FXFRSSH=TRUE;'-%}
{%- elif sw_configs.download.ftp_server.protocol == "ftp" -%}
{%- set cmd = 'SET-ATTR-SECUDFLT:::ctag:::FXFRSSH=FALSE;' -%}
{%- elif sw_configs.download.ftp_server.protocol == "scp" -%}
{%- set cmd = 'SET-ATTR-SECUDFLT:::ctag:::SCP=ENABLE;' -%}
{%- endif -%}
{%- set dummy = command_ip_map.update({cmd: {}}) -%}
{{- command_ip_map -}}