{%- set sw_info = rtrv_sw_info_res["RETRIEVE RFILE"].result -%}
{%- for key, value in sw_info.iteritems() -%}
    {%- if "Component" in key -%}
        {%- if value.Parameters.USAGE == "Current" -%}
            {{- value.Parameters.FILE -}}
        {%- endif -%}
    {%- endif -%}
{%- endfor -%}