{%- set command_ip_map = {} -%}
{%- set lock_states = ['OOS-MA','OOS-AUMA','OOS-MAANR'] -%}
{%- set res = rtrv_stby_res["RETRIEVE EQUIPMENT"].result -%}
{%- for key, value in res.iteritems() -%}
    {%- if value.Parameters is defined -%}
        {%- if value.Parameters.SST is defined and value.Parameters.SST == 'ACT' -%}
            {%- set dummy = 'this is active card' -%}
        {%- else -%}
            {%- set pst_pstq = "%s-%s" | format(value.Parameters.PST,value.Parameters.PSTQ) -%}
            {%- if pst_pstq in lock_states -%}
                {%- set cmd = 'ed-eqpt::%s:CTAG::::IS;' | format(key) -%}
                {%- set dummy = command_ip_map.update({cmd:{}}) -%}
            {%- endif -%}
        {%- endif -%}
    {%- endif -%}
{%- endfor -%}
{{- command_ip_map -}}